
bin/
target/
target2/
*target/
*target2/
*.class
*.project
*.classpath
*.prefs
*.png
*.lck
*.war
*.jar
*.settings
*.properties
activemq-data/
bc-manager/src/main/java/eu/chorevolution/vsb/bindingcomponent/generated/*.class
bc-manager/src/main/java/eu/chorevolution/vsb/bindingcomponent/generated/BCSoapSubcomponentEndpoint.class
bc-manager/src/main/java/eu/chorevolution/vsb/bindingcomponent/generated/BindingComponent.class
webapp-bc-generator/src/main/webapp/*.war
playgrounds/client-server/rest-playground/target2
playgrounds/pub-sub/mqtt-playground/target
scenarios-end-to-end-test/autopilote/paho*
